* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
}

body {
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #2a5298, #0b346e);
}

.calculator {
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
}

.display input {
    width: 360px;
    border: none;
    outline: none;
    padding: 20px;
    margin: 10px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 40px;
    text-align: right;
    cursor: pointer;
}

input::placeholder {
    color: #cccccc;
}

button {
    width: 70px;
    height: 70px;
    margin: 10px;
    background: transparent;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    border: 0;
    border-radius: 50%;
    box-shadow: -5px -6px 25px #000;
    outline: 1px solid #313131;
    outline-offset: 3px;
    cursor: pointer;
}

    button:active {
        background: #000;
        transform: translate(2px, 2px);
    }

.opr {
    color: #ffcc00;
    background: #222222;
    font-weight: 700;
}

#eqBtn {
    background: #111111;
    font-weight: 900;
}
